.pic {
    height: 300px;
    width: 300px;
}

.socialMedia {
    height: 20px;
    width: 22px;
}

#entire {
    background-size: 100vh 100vw;
    background-color: #e0e0e0;
}

#logo {
    height: 60px;
    width: 60px;
}

.pic {
    border-radius: 4%;
    height: 150px;
    width: 150px;
}

header {
    background-color: rosybrown;
}

footer {
    background-color: rosybrown;
}

#searchBar {
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-size: auto;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
}

#container {
    display: flex;
    padding: 4%;
}
.item{
    margin: auto;
}
html, body{
    height: 100%;
}