html,
body {
    width: 100%;
    height: 100%h;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#entire {
    background-size: auto;
    background-color: #e0e0e0;
}

.socialMedia {
    display: inline-block;
    height: 20px;
    width: 22px;
}

#logo {
    height: 60px;
    width: 60px;
}

.hotelImages {
    height: 200px;
    width: 250px;
    margin: 2%;
}

html {
    scroll-behavior: smooth;
}

header {
    display: inline-block;
    background-color: rosybrown;
    width: 100%;
    position: fixed;
    align-items: center;
    top: 0px;
    box-sizing: border-box;
    z-index: 200px;
}

footer {
    background-color: rosybrown;
}

.cards {
    background-color: rgb(132, 136, 139);
    width: 40%;
    margin-left: 35px;
    display: inline-block;
    margin-top: 100px;
}

#login {
    display: inline-block;
    position: absolute;
    align-items: center;
    right: 10px;
    top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rosybrown;
    height: 60px;
    position: fixed;
    bottom: 0%;
    width: 100%;
}

#entire {
    background-size: 100vh 100vw;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}

#listview {
    margin: auto;
    position: relative;
    display: inline-block;
    left: 45%;
    align-items: center;
    /* z-index: -1; */
}

#mapview {
    margin: auto;
    position: relative;
    display: inline-block;
    left: 46%;
    align-items: center;
    /* z-index: -1; */
}

#contactus {
    position: absolute;
    left: 30px;
    align-items: center;
}

#bottomline {
    font-size: 10px;
    margin-bottom: 2px;
}

#smIcons {
    position: absolute;
    right: 30px;
    align-items: center;

}

#list {
    list-style: none;
    height: 60px;
    width: 100%;
    display: inline-block;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

#mapView {
    visibility: hidden;
}
