html, body{
    height: 100%;

}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px solid pink;
}
#loading {
    height: 70px;
    width: 70px;
    border: 12px solid #f3f3f3;
    border-top-color: #444444;
    border-radius: 50%;
    animation: spinner 2s linear infinite ;
}
@keyframes spinner {
    to {
        transform: rotate(1turn);
    }
}
