.socialMedia {
    height: 20px;
    width: 22px;
}

#logo {
    height: 60px;
    width: 60px;
}

#entire {
    background-size: 100% 100%;
}

#img {
    height: 500px;
    width: 500px;
}

header {
    background-color: rosybrown;
}

footer {
    background-color: rosybrown;
}

#entire {
    background-size: auto;
    background-color: #e0e0e0;
}

#part1 {
    background-color: rgb(132, 136, 139);
    display: block;
    width: 50%;
    height: 20%;
    margin: 2% auto;
}

#part2 {
    margin: 2%;
}

#part3 {
    border: 1px solid black;
    margin: 2%;
    padding: 1% 2%;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: black;
}
html,
body {
    width: 100%;
    height: 100%h;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rosybrown;
    height: 60px;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
#contactus {
    position: absolute;
    left: 30px;
    align-items: center;
}

#bottomline {
    font-size: 10px;
    margin-bottom: 2px;
}

#smIcons {
    position: absolute;
    right: 30px;
    align-items: center;

}
#login {
    display: inline-block;
    position: absolute;
    align-items: center;
    right: 10px;
    top: 20px;
}
header {
    display: inline-block;
    background-color: rosybrown;
    width: 100%;
    position: fixed;
    align-items: center;
    top: 0px;
    box-sizing: border-box;
    z-index: 200px;
}